# Ignore Hugo configuration and build files
hugo.toml
.hugo_build.lock

# Ignore web server configuration files
.htaccess

# Ignore Git submodules
.gitmodules

# Ignore Hugo-specific directories
themes/
static/
layouts/
i18n/
data/

# Ignore content and asset directories
/content
/assets

# Ignore GitHub-specific files and directories
/.github
