<!DOCTYPE html><html>
    <head>
        <title>Redirect</title>
        <link rel="canonical" href="{{ .dest }}"/>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="refresh" content="0; url={{ .dest }}" />
    </head>
    <body>
        If you are not redirected, <a href="{{ .dest }}">click here</a>.
        <br>
        Or if you got redirected here because of a download <a href="https://alpha.is-a.dev/">click here to go back to the home page</a>.
      </body>
</html>
